.container_center {
    margin: 0 auto;
    background-color: #f1f1f1;
    height: calc(100vh);
    border-left: ridge;
    border-right: ridge;
}
.title {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}
.messages {
    margin-bottom: 20px;
    border-radius: 5%;
    background-color: #efefef;
    height: 60%;
    overflow-y: scroll;
    padding: 0px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-bottom: solid white;
    border-top: solid white;
}
.messages::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.message {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1px;
    clear: both;
}

.message .username {
    font-weight: bold;
    float: left;
    padding-bottom: 4px;
}

.message .time {
    font-size: 0.8em;
    color: #999;
    float: right;
    padding-bottom: 4px;
}

.message .content {
    clear: both;
    width: 100%;
    max-width: 100%;
    border: 0;
    cursor: default;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    resize:none;
}

.message .content:focus {
    outline: none;
}

.form {
    display: flex;
    justify-content: center;
}
.textarea {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    font-size: 16px;
}
.send {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.send:hover {
    background-color: #3e8e41;
}
.ask {
    background-color: #e36342;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.ask:hover {
    background-color: #422eee;
}
.myMessage {
    text-align: end;
    display: flex;
    flex-direction: column;
}
.myMessage .content {
    text-align: end;
    border-radius: 5px;
    background-color: #efefef;
    word-wrap: break-word;
    max-width: 100%;
    resize: none;
    overflow: hidden;
    height: auto;
    font-size: 14px;
}
.otherMessage .content {
    border-radius: 5px;
    background-color: #efefef;
    word-wrap: break-word;
    max-width: 100%;
    resize: none;
    overflow: hidden;
    height: auto;
    font-size: 14px;
}
.otherMessage {
    display: flex;
    flex-direction: column;
}
